{% extends "parser/base.html" %}

{% block title %}{{ thread.title }} - Court Parser{% endblock %}

{% block content %}
    <section class="section">
        <h1 class="section-title">{{ thread.title }}</h1>
        <div class="thread-info">
            <a href="{{ thread.url }}" class="btn btn-forum" target="_blank">Перейти к треду на форуме</a>
            <p class=".card-description">Префикс: <span>{{ thread.prefix|default:"Нет" }}</span></p>
            <p class="info-item">Создан: <span>{{ thread.created_at|date:"d.m.Y H:i" }}</span></p>
            <p class="info-item">Обновлён: <span>{{ thread.updated_at|date:"d.m.Y H:i" }}</span></p>
        </div>

        <h2 class="section-subtitle">Сообщения</h2>
        <div class="message-list">
            {% for message in messages %}
                <article class="message-block">
                    <p class="message-header">
                        <strong>{{ message.author }}</strong> 
                        <span>({{ message.posted_at|date:"d.m.Y H:i" }})</span>
                    </p>
                    <p class="message-content">{{ message.content }}</p>
                </article>
            {% empty %}
                <p class="empty-text">Сообщений пока нет.</p>
            {% endfor %}
        </div>
        <a href="{% url 'parser:threads' %}" class="btn btn-secondary">Назад к списку тредов</a>
    </section>
{% endblock %}